{% extends 'base.html' %}

{% block contenido %}
<h3>Parroquias</h3>

<ul>
 {% for p in parroquias %}
  <li>
    {{ p }} - [<a href="{% url 'editar_parroquia' p.id %}">editar parroquia</a>]
    <ul>
        {% for b in p.barrios.all %}
          <li>
            {{ b }} - [<a href="{% url 'editar_barrio' b.id %}">editar barrio</a>]
          </li>
        {% endfor %}
    </ul>
  </li>
 {% endfor %}
</ul>

[<a href="{% url 'listar_parroquias' %}">listar parroquias</a>]
[<a href="{% url 'listar_barrios' %}">listar barrios</a>]
[<a href="{% url 'crear_parroquia' %}">crear parroquia</a>]
[<a href="{% url 'crear_barrio' %}">crear barrio</a>]
{% endblock %}
