
<h3>Parroquias </h3>

<ul>
 {% for p in parroquias %}

  <li>
    {{p}} - [<a href="{% url 'editar_parroquia' p.id %}">editar</a>]
    <ul>
        {% for b in p.barrios.all %}
          <li>
            <span>{{b}} 
               - [<a href="{% url 'editar_barrio' b.id %}">editar</a>] </span>
          </li>
        {% endfor %} 
      </ul>
      

  </li>
  <hr />

{% endfor %} 
</ul>

<br />
[<a href="{% url 'crear_parroquia' %}">Crear parroquia</a>]
<br/>
[<a href="{% url 'crear_barrio' %}">Crear barrio</a>]
