{% extends 'base.html' %}

{% block contenido %}
<h3>Número de barrios {{ barrios.count }}</h3>

<ul>
 {% for b in barrios %}
  <li>
    {{ b }} - Viviendas: {{ b.numero_viviendas }} -
    Parques: {{ b.numero_parques }} -
    Edificios residenciales: {{ b.numero_edificios_residenciales }} -
    Parroquia: {{ b.parroquia.nombre }} -
    Presidente:
    {% for pres in b.presidentes.all %}
        {{ pres.nickname }} ({{ pres.profesion }}){% if not forloop.last %}, {% endif %}
    {% empty %}
        no registrado
    {% endfor %}
    - [<a href="{% url 'editar_barrio' b.id %}">editar</a>]
  </li>
 {% empty %}
  <li>No hay barrios registrados.</li>
 {% endfor %}
</ul>

[<a href="{% url 'listar_parroquias' %}">listar parroquias</a>]
[<a href="{% url 'listar_barrios' %}">listar barrios</a>]
[<a href="{% url 'crear_parroquia' %}">crear parroquia</a>]
[<a href="{% url 'crear_barrio' %}">crear barrio</a>]
{% endblock %}
